@page "/product/{ProductId}"

<h3>Producto:  @ProductId</h3> <!-- En realidad diría el Product.Name pero aun no lo recibe-->

<div class="col-md-4" style=" margin-top:1rem;">
    <div class="card shadow" style="width: 15rem;">
        <div class="inner" style="padding:.5rem;">
            <img src="/carousel-images/huawei.jpg" class="d-block w-100" style="width: 10rem; height:10rem;" alt="imagenProducto">
        </div>
        <div class="card-body text-center">
            <h5 class="card-title">Huawei J10</h5>
        </div>
    </div>
    <br />
    <h3> Descripción del producto</h3>
    <br />
    <p> 4gb de ram, cámara frontal de 12mgpx, 15cm de alto x 9cm de largo x 2 de ancho</p> <!-- Product.Description-->

</div>

@if (Reviews == null)
{
    <p><em>No hay reseñas de este producto </em></p>
}
else
{

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="container-fluid">
                                <div class="row">

                                    @foreach (var reviewCard in Reviews)
                                    {
                                        <div class="col-md-4" style=" margin-top:1rem;">
                                            <div class="card shadow" style="width: 15rem;">                                         
                                                <div class="card-body text-center">
                                                    <h5 class="card-title">@reviewCard.Title</h5>
                                                    <p class="card-text"> @reviewCard.Text</p>
                                                    <p class="card-text"> Publicado el:  @reviewCard.PublishDate</p>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <br />

    <h4> Agrega una reseña</h4>
}


<EditForm Model="@Review" OnValidSubmit="@SaveReview">
    <DataAnnotationsValidator />


    <div class="col-12-row">
        <label class="col-2 font-weight-bold"> Reseña: </label>
        <InputTextArea class="form-control col-3" @bind-Value="Review.Text" placeholder="Reseña"></InputTextArea>
        <ValidationMessage For="@(() => Review.Text)" />
    </div>

    <div class="col-12-row">
        <label class="col-2 font-weight-bold"> Rating 1-5: </label>
        <InputNumber class="form-control col-3" @bind-Value="Review.RatingProduct" placeholder="Rating"></InputNumber>
        <ValidationMessage For="@(() => Review.RatingProduct)" />
    </div>
    <br />
    <div class="col-12-row">
        <label class="col-2 font-weight-bold"> Recomendar </label>
        <InputSelect @bind-Value="Review.Recommended">
            <option value="">Selecciona...</option>
            <option value="si">Si</option>
            <option value="no">No</option>
            <option value="Tal vez">Tal vez</option>

        </InputSelect>
        <ValidationMessage For="@(() => Review.Recommended)" />
    </div>

    <br />

    <div class="col-12-row">
        <span class="col-2"></span>
        <input type="submit" class="form-control col-1 btn btn-primary" value="Publicar" />
        <span> &nbsp;</span>
    </div>

    <br />

</EditForm>
<br />

