@page "/product/{ProductId:int}"

@if (Product is null) {
    <p><em>Cargando...</em></p>
}
else {
    <h3>@Product.Category.Name</h3>

    <div class="row">
        <div class="col-md-2" style=" margin-top:2rem; margin-left:2rem">
            <div class="card shadow" style="width: 15rem; height:16rem;">
                <div class="card-title text-center">
                    <h3 class="card-title">@Product.Name</h3>
                </div>
                <div class="inner" style="padding:.5rem;">
                    <img src=@Product.ImagePath class="d-block w-100" style="width: 11rem; height:11rem;" alt="imagenProducto">
                </div>
            </div>
            <br />
        </div>
        <div class="col-sm-7">
            <div class="card-body" style="padding-top:2rem; margin-left:3rem">
                <h3> Fabricante </h3>
                <br />
                <p>@Product.Company.Name</p>
            </div>
            <div class="card-body" style="padding-top:2rem; margin-left:3rem">
                <h3> Descripción </h3>
                <br />
                <p>@Product.Description</p>
            </div>
            @if (true) {
                <div class="col-md-12 col-xl-5 mt-2 text-center" style="margin-left:2rem; padding-top:3rem;">
                    <button class="btn btn-outline-success" Click="AddFavorite"><i class="oi oi-star pr-2" aria-hidden="true"></i>Añadir a favoritos</button>
                </div>
            }
            else {
                <div class="col-md-12 col-xl-5 mt-2 text-center" style="margin-left:2rem; padding-top:3rem;">
                    <button class="btn btn-outline-dark" Click="DeleteFromFavorite"><i class="oi oi-delete pr-2" aria-hidden="true"></i>Eliminar de favoritos</button>
                </div>
            }
        </div>
    </div>

    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-3 sidenav hidden-xs">
                <div class="col-md-4" style=" margin-top:1rem;">
                    <div class="card shadow" style="width: 18rem;">
                        <div class="card-body text-center">
                            <h5 class="card-title">Agrega una reseña</h5>
                            <div class="card-text">
                                <EditForm Model="@ReviewModel" OnValidSubmit="@SaveReview">
                                    <DataAnnotationsValidator />

                                    <div>
                                        <div class="card-body" font-weight-bold"> Reseña: </div>
                                        <InputTextArea class="form-control" @bind-Value="ReviewModel.Text" placeholder="Reseña"></InputTextArea>
                                        <ValidationMessage For="@(() => ReviewModel.Text)" />
                                    </div>

                                    <div>
                                        <label class="card-body"> Rating 1-5: </label>
                                        <InputNumber class="form-control" @bind-Value="ReviewModel.RatingProduct" placeholder="Rating"></InputNumber>
                                        <ValidationMessage For="@(() => ReviewModel.RatingProduct)" />
                                    </div>
                                    <br />
                                    <div class="card-body">
                                        <label class="font-weight-bold"> Recomendar </label>
                                        <InputSelect @bind-Value="ReviewModel.Recommended">
                                            <option value="">Selecciona...</option>
                                            <option value="si">Si</option>
                                            <option value="no">No</option>
                                            <option value="Tal vez">Tal vez</option>

                                        </InputSelect>
                                        <ValidationMessage For="@(() => ReviewModel.Recommended)" />
                                    </div>

                                    <div class="card-body">
                                        <span class=""></span>
                                        <input type="submit" class="form-control btn btn-primary" value="Publicar" />
                                        <span> &nbsp;</span>
                                    </div>

                                </EditForm>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>

            <div class="col-sm-9">
                <h4 class="text-center col-sm-10" style="margin-left:3rem;">
                    Reseñas de usuarios
                </h4>
                @if (Product.Reviews is null) {
                    <p><em>Cargando reseñas...</em></p>
                }
                else if (Product.Reviews.Count == 0) {
                    <p><b>No hay reseñas de este producto.</b></p>
                }
                else {
                    @foreach (var review in Product.Reviews) {
                        <div class="col-sm-10" style=" margin-top:1rem; margin-left:3rem">
                            <div class="card shadow">
                                <div class="card-body text-justify ">
                                    <h5 class="card-title">@review.Title</h5>
                                    <p class="card-text" style="padding-top:1rem;"> @review.Text</p>
                                    <div class="card-text" style="padding-top:1.2rem;">
                                        <div class="row">
                                            <div class="col-sm-4 text-dark">Calificación: @review.Rating</div>
                                            <div class="col-sm-8 text-right">Publicado el:  @review.PublishDate</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
}