@using Elecritic.Pages

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="">Elecritic</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" id="@nameof(Features.Products.Pages.Index)">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Inicio
                </NavLink>
            </li>
            <li class="nav-item" id="@nameof(Features.Categories.Pages.CategoriesPage)">
                <NavLink class="nav-link" href="categories">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Categorías
                </NavLink>
            </li>

            <AuthorizeView>
                <Authorized>
                    <li class="nav-item" id="@nameof(Features.Products.Pages.MyFavorites)">
                        <NavLink class="nav-link" href="myfavorites">
                            <span class="oi oi-star" aria-hidden="true"></span> Mis favoritos
                        </NavLink>
                    </li>

                    <li class="nav-item" id="@nameof(Logout)">
                        <NavLink class="nav-link" href="logout">
                            <span class="oi oi-account-logout" aria-hidden="true"></span> Cerrar sesión
                        </NavLink>
                    </li>
                </Authorized>
                <NotAuthorized>
                    <li class="nav-item" id="@nameof(Login)">
                        <NavLink class="nav-link" href="login">
                            <span class="oi oi-account-login" aria-hidden="true"></span> Iniciar sesión
                        </NavLink>
                    </li>
                </NotAuthorized>
            </AuthorizeView>
        </ul>
    </div>
</nav>